<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrevioCast - Browse</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' , href='/static/css/app.css'>
</head>

<body>
    <!--Header of the page-->
    <div class='topnav'>
        <div class='logo'>BrevioCast</div>
        <a href='/'>Home</a>
    </div>
    <!--content page-->
    <!-- column one of the page-->

    <div style="text-align:center" class="screen-container">
        <h2>Listen to summaries of our hand picked popular podcasts</h2>
        <div class="new-container p-4">
            {% for podcast_group in sliced_podcast_names %}
            <div class="new-row">
                {% for folder_name, podcast_name in podcast_group %}
                <a href="/podcast?name={{ folder_name }}">
                    <div class="card">
                        <img src="/static/images/podcast.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>{{ podcast_name|truncate(30, True) }}</b></h4>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}

        </div>

        <div style="text-align:center">
            <h3>Request to add your custom podcast</h3>
            <div id='message'></div>
            <form id='myForm'>
                <input type='text' id='link' name="requested_url" placeholder="Enter youtube link">
                <input type='submit' id='submit' value='submit'>
            </form>
        </div>

        <style>
            .success {
                color: green;
            }

            .error {
                color: red;
            }
        </style>

        <script>
            document.getElementById('myForm').addEventListener('submit', function (event) {
                event.preventDefault();  // Prevent the form from submitting normally

                let url = '/simple_request';
                let formData = new FormData(this);

                fetch(url, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        let messageElement = document.getElementById('message');
                        messageElement.innerText = data.message;
                        messageElement.className = 'success';
                    })
                    .catch((error) => {
                        if (typeof error.text === 'function') {
                            error.json().then(errorMessage => {
                                let messageElement = document.getElementById('message');
                                messageElement.innerText = errorMessage.detail;
                                messageElement.className = 'error';
                            });
                        } else {
                            console.error('Error:', error);
                        }
                    });
            });
        </script>



    </div>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHXBFF6C0M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QHXBFF6C0M');
    </script>
</body>

</html>